
.movie, .series {
  position: relative;
  display: flex;
  flex-basis: 80%;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.title {
  display: block;
  margin: 32px 0;
}

.leftChev, .rightChev {
  @include center ('both');
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  color: $whiteColor;
  background-color: $redColorG;
  border-radius: 30%;
  z-index: 888;
}


.leftChev {
  left:0px;
}

.rightChev {
 right: 0px;
}

